body{
    background-color: var(--cor-fundo);
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#svg-map{
    cursor: pointer;
}

/*svg é preenchido com fill*/
#svg-map .circle, #svg-map path{
    fill: var(--cor-pais);
}

#svg-map a:hover .circle, #svg-map a:hover path{
    fill: var(--cor-estado-selecionado) !important;
}

#text{
    width: 380px;
    height: auto;
    text-align: right;
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}